.barril-animado {
  text-align: left !important; }
  .barril-animado .container-barril {
    height: 370px;
    width: 308px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -20px;
    background-color: #1b1e1e; }
  .barril-animado img.frame-barril {
    width: 308px;
    height: 370px;
    z-index: 10;
    position: absolute; }
  .barril-animado .efeito-topo-liquido {
    width: 308px;
    height: 33px;
    background-image: url("../imgs/especifico/ondas.png");
    background-position: top right;
    position: absolute;
    bottom: 0px; }
  .barril-animado .container-barril div {
    position: absolute; }
  .barril-animado .liquido {
    width: 308px;
    height: 0px;
    background-color: #edaf32;
    border-width: 0px;
    border-radius: 0px;
    bottom: 0px;
    overflow: hidden; }
  .barril-animado.absinthe .liquido {
    background-color: #73B881 !important; }

  .barril-animado.stout .liquido {
    background-color: #3d2729 !important; }
  .barril-animado.imperial-stout .liquido {
    background-color: #38393b !important; }

.barril-animado.dark-ale .liquido {
    background-color: #79393b !important; }
  .barril-animado.porter .liquido {
    background-color: #593736 !important; }

.barril-animado.golden-ale .liquido {
    background-color: #c7692d !important; }
  .barril-animado.pale-ale .liquido {
    background-color: #fcfb8f !important; }
  .barril-animado.lager .liquido {
    background-color: #d6ad22 !important; }
  .barril-animado.pilsen .liquido {
    background-color: #d28310 !important; }

  .barril-animado.ipa .liquido, .barril-animado.indian-pale-ale .liquido {
    background-color: #ffb303 !important; }
  .barril-animado .liquido .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: 0;
    border-radius: 10px;
    height: 20px;
    width: 20px; }
@keyframes bubble {
  0% {
    bottom: 0; }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px; }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px; } }
  .barril-animado .bubble1 {
    left: 10px;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms; }
  .barril-animado .bubble2 {
    left: 50px;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms; }
  .barril-animado .bubble3 {
    left: 100px;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms; }
  .barril-animado .bubble4 {
    left: 130px;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms; }
  .barril-animado .bubble5 {
    left: 170px;
    -webkit-animation-delay: 1300ms;
    -webkit-animation-duration: 800ms; }
  .barril-animado .beer-foam {
    position: absolute;
    bottom: 10px; }

/*# sourceMappingURL=barril.animacao.css.map */
