.barril-animado
{
    $largura: 308px;
    $altura: 370px;
    text-align: left !important;

    .container-barril
    {
        height: $altura;
        width: $largura;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        top: -20px;
        background-color: #1b1e1e;
    }

    img.frame-barril
    {
      width: $largura;
      height: $altura;
      z-index: 10;
      position: absolute;
    }

    .efeito-topo-liquido
    {
      width: $largura;
      height: 33px;
      background-image: url('../imgs/especifico/ondas.png');
      background-position: top right;
      position: absolute;
      bottom: 0px;
    }

    .container-barril div { position: absolute; }

    .liquido
    {
      width: $largura;
      height: 0px;
      background-color: #edaf32;
      border-width: 0px;
      border-radius: 0px;
      bottom: 0px;
      overflow: hidden;
    }

    &.stout .liquido
    {
      background-color: #3d2729 !important;
    }

    &.imperial-stout .liquido
    {
      background-color: #38393b !important;
    }

    &.dark-ale .liquido
    {
      background-color: #79393b !important;
    }

    &.porter .liquido
    {
      background-color: #593736 !important;
    }

    &.golden-ale .liquido
    {
      background-color: #c7692d !important;
    }

    &.pale-ale .liquido
    {
      background-color: #fcfb8f !important;
    }

    &.lager .liquido
    {
      background-color: #d6ad22 !important;
    }

    &.pilsen .liquido
    {
      background-color: #d28310 !important;
    }

    &.ipa .liquido, &.indian-pale-ale .liquido
    {
      background-color: #ffb303 !important;
    }

    .liquido .bubble {
        -webkit-animation-name: bubble;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        background-color: rgba(255, 255, 255, 0.3);
        bottom: 0;
        border-radius: 10px;
        height: 20px;
        width: 20px;
    }

    @keyframes bubble { 0% { bottom: 0; } 50% { background-color: rgba(255, 255, 255, 0.2);  bottom: 80px; } 100% { background-color: rgba(255, 255, 255, 0); bottom: 160px; } }

    .bubble1 {
        left: 10px;
        -webkit-animation-delay: 1000ms;
        -webkit-animation-duration: 1000ms;
    }

    .bubble2 {
        left: 50px;
        -webkit-animation-delay: 700ms;
        -webkit-animation-duration: 1100ms;
    }

    .bubble3 {
        left: 100px;
        -webkit-animation-delay: 1200ms;
        -webkit-animation-duration: 1300ms;
    }

    .bubble4 {
        left: 130px;
        -webkit-animation-delay: 1100ms;
        -webkit-animation-duration: 700ms;
    }

    .bubble5 {
        left: 170px;
        -webkit-animation-delay: 1300ms;
        -webkit-animation-duration: 800ms;
    }

    .beer-foam {
        position: absolute;
        bottom: 10px;
    }

}
