body.incubadora-da-cerveja {
  background-color: #1b1d1e;
  color: #FFFFFF !important;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif; }
  body.incubadora-da-cerveja .display-none {
    display: none; }
  body.incubadora-da-cerveja .modal-dialog .imagem-garrafa {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px; }
  body.incubadora-da-cerveja .modal-dialog .imagem-harmonizacao {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px; }
  body.incubadora-da-cerveja .modal-dialog .botao-adicionar-ao-pedido {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #000000; }
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > caption + thead > tr:first-child > td,
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > caption + thead > tr:first-child > th,
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > colgroup + thead > tr:first-child > td,
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > colgroup + thead > tr:first-child > th,
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > thead:first-child > tr:first-child > td,
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table > thead:first-child > tr:first-child > th {
    background-color: #000000; }
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #383838; }
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #1b1e1e; }
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .tr-frete-pedido {
    font-weight: bold; }
    body.incubadora-da-cerveja .pedido-simples-lista-produtos .tr-frete-pedido td {
      border-top-width: 2px;
      background-color: #000000; }
  body.incubadora-da-cerveja .pedido-simples-lista-produtos .tr-valor-total-pedido {
    font-weight: bold; }
    body.incubadora-da-cerveja .pedido-simples-lista-produtos .tr-valor-total-pedido td {
      border-top-width: 2px;
      background-color: #cbb27c;
      color: #000000; }
  body.incubadora-da-cerveja .remove-icon {
    height: 18px;
    width: 18px;
    cursor: pointer; }
  body.incubadora-da-cerveja .center-text {
    text-align: center; }
  body.incubadora-da-cerveja .modal-dialog.light .modal-body, body.incubadora-da-cerveja .modal-dialog.light .modal-body p {
    color: #000000; }
  body.incubadora-da-cerveja .clickable {
    cursor: pointer; }
  body.incubadora-da-cerveja .clickable:hover {
    cursor: pointer;
    background-color: #38393a; }
  body.incubadora-da-cerveja .product a {
    margin-top: 15px;
    margin-bottom: 0px; }
  body.incubadora-da-cerveja .product a > span {
    background-color: #1b1e1e;
    z-index: 100; }
  body.incubadora-da-cerveja .opcao-cerveja-degustador {
    display: block; }
    body.incubadora-da-cerveja .opcao-cerveja-degustador input[type="checkbox"] {
      margin-right: 0px;
      top: 2px; }
  body.incubadora-da-cerveja header h1 {
    color: #FFFFFF; }
  body.incubadora-da-cerveja header h2 {
    font-size: 22px;
    color: #cbb27c; }
  body.incubadora-da-cerveja h2.destaque {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #cbb27c; }
  body.incubadora-da-cerveja h3.destaque {
    color: #cbb27c; }
  body.incubadora-da-cerveja .has-error .form-control {
    border-color: #a94442 !important;
    color: #a94442 !important; }
  body.incubadora-da-cerveja .fb_iframe_widget iframe {
    float: left;
    position: relative;
    left: 0px; }
    body.incubadora-da-cerveja .fb_iframe_widget iframe .mvs.fsm span {
      color: #ffffff; }
  body.incubadora-da-cerveja .modal-footer .btn {
    margin-bottom: 0px; }
  body.incubadora-da-cerveja div.row header {
    margin-bottom: 30px; }
  body.incubadora-da-cerveja .btn-calendar {
    padding: 9px 9px 9px 14px; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] td, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] th {
    padding: 1px; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .uib-button-bar button:last-child, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .uib-button-bar button:last-child:hover {
    margin-right: 0px; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .uib-button-bar button:hover {
    margin-right: 5px; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-bottom: 0px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #e0e0e0;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: none !important; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] a.btn:before, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] a.btn:after, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn:before, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn:after {
    background-color: transparent; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] a.btn span:before, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] a.btn span:after, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn span:before, body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn span:after {
    background-color: transparent; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn.btn-success {
    color: #ffffff;
    background-color: #00a651;
    border-color: #00a651; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn.btn-danger {
    color: #ffffff;
    background-color: #cc2424;
    border-color: #cc2424; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn.btn-info {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1; }
  body.incubadora-da-cerveja div[uib-datepicker-popup-wrap] .btn-default.active {
    color: #333333;
    outline: 0;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  body.incubadora-da-cerveja .hidden {
    display: none; }
  body.incubadora-da-cerveja .row {
    margin-right: 0px;
    margin-left: 0px; }
  body.incubadora-da-cerveja label {
    font-weight: normal;
    font-size: 13px; }
  body.incubadora-da-cerveja .control-label {
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 9px; }
  body.incubadora-da-cerveja .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit; }
  body.incubadora-da-cerveja .ui-select-highlight {
    font-weight: bold;
    background-color: yellow; }
  body.incubadora-da-cerveja form {
    padding-left: 10px; }
  body.incubadora-da-cerveja select {
    position: relative;
    -webkit-appearance: none; }
  body.incubadora-da-cerveja select.form-control {
    padding: 6px 6px; }
  body.incubadora-da-cerveja .select-wrapper:before {
    top: 12px;
    right: 30px; }
  body.incubadora-da-cerveja .form-control {
    font-size: 14px;
    font-weight: 800;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px 6px;
    letter-spacing: 2px;
    text-transform: none !important;
    color: #cbb27c;
    border: 1px solid #cbb27b;
    background: none;
    box-shadow: none;
    border-radius: 0px; }
  body.incubadora-da-cerveja .form-control::placeholder, body.incubadora-da-cerveja .form-control::-webkit-input-placeholder {
    color: #d6d6d6; }
  body.incubadora-da-cerveja .form-control:focus {
    background-color: #505252; }
  body.incubadora-da-cerveja textarea.form-control {
    padding-top: 5px; }
  body.incubadora-da-cerveja .form-control[uib-datepicker-popup] {
    cursor: pointer; }
  body.incubadora-da-cerveja #main-nav .navigation > .nav > li.active > a {
    background-color: #2b303a;
    color: #FFFFFF !important; }
    body.incubadora-da-cerveja #main-nav .navigation > .nav > li.active > a span {
      color: #FFFFFF !important; }
    body.incubadora-da-cerveja #main-nav .navigation > .nav > li.active > a [class^="icon-"] {
      color: #FFFFFF !important; }
  body.incubadora-da-cerveja #wrapper {
    min-width: 100%;
    overflow-x: auto; }
  body.incubadora-da-cerveja #content {
    background-color: #FFFFFF; }
  body.incubadora-da-cerveja #content-wrapper {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    padding-top: 20px; }
    body.incubadora-da-cerveja #content-wrapper.dark {
      background-color: #1b1d1e !important; }
    body.incubadora-da-cerveja #content-wrapper .page-header {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 15px;
      min-width: 100%; }
    body.incubadora-da-cerveja #content-wrapper .table > caption + thead > tr:first-child > td,
    body.incubadora-da-cerveja #content-wrapper .table > caption + thead > tr:first-child > th,
    body.incubadora-da-cerveja #content-wrapper .table > colgroup + thead > tr:first-child > td,
    body.incubadora-da-cerveja #content-wrapper .table > colgroup + thead > tr:first-child > th,
    body.incubadora-da-cerveja #content-wrapper .table > thead:first-child > tr:first-child > td,
    body.incubadora-da-cerveja #content-wrapper .table > thead:first-child > tr:first-child > th {
      background-color: #000000; }
    body.incubadora-da-cerveja #content-wrapper .table-striped > tbody > tr:nth-of-type(even) {
      background-color: #383838; }
    body.incubadora-da-cerveja #content-wrapper .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #1b1e1e; }
    body.incubadora-da-cerveja #content-wrapper .box {
      border-radius: 0px;
      background-clip: padding-box;
      box-shadow: none;
      border-width: 0px;
      border-color: #ebebeb !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-bottom: 40px;
      margin-top: 10px; }
      body.incubadora-da-cerveja #content-wrapper .box .box-header, body.incubadora-da-cerveja #content-wrapper .box .box-header.blue-background {
        color: #373e4a;
        background-color: #f0f0f1 !important;
        border-color: #ebebeb;
        font-size: 17px;
        line-height: 30px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px; }
        body.incubadora-da-cerveja #content-wrapper .box .box-header .title, body.incubadora-da-cerveja #content-wrapper .box .box-header.blue-background .title {
          color: #373e4a;
          font-size: 15px; }
        body.incubadora-da-cerveja #content-wrapper .box .box-header .actions, body.incubadora-da-cerveja #content-wrapper .box .box-header.blue-background .actions {
          margin-top: 2px; }
      body.incubadora-da-cerveja #content-wrapper .box .box-header.blue-background .actions .btn-link {
        color: #373e4a !important; }
      body.incubadora-da-cerveja #content-wrapper .box .box-header.blue-background .actions .btn-link:hover {
        color: #000000 !important; }
      body.incubadora-da-cerveja #content-wrapper .box .box-content {
        border-width: 0px; }
    body.incubadora-da-cerveja #content-wrapper h1 i {
      font-size: 20px;
      display: none; }
    body.incubadora-da-cerveja #content-wrapper .page-header h1, body.incubadora-da-cerveja #content-wrapper .page-header h2, body.incubadora-da-cerveja #content-wrapper .page-header h3, body.incubadora-da-cerveja #content-wrapper .page-header h4, body.incubadora-da-cerveja #content-wrapper .page-header h5, body.incubadora-da-cerveja #content-wrapper .page-header h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: #373e4a; }
  body.incubadora-da-cerveja header .navbar .dropdown-menu {
    border-radius: 3px !important; }
  body.incubadora-da-cerveja header .navbar > .nav > li.dark > a {
    background-color: #2b303a !important;
    padding-top: 15px !important; }
  body.incubadora-da-cerveja .dropdown-menu > .active > a,
  body.incubadora-da-cerveja .dropdown-menu > .active > a:hover,
  body.incubadora-da-cerveja .dropdown-menu > .active > a:focus,
  body.incubadora-da-cerveja .dropdown-menu > li > a:hover,
  body.incubadora-da-cerveja .dropdown-menu > li > a:focus,
  body.incubadora-da-cerveja .dropdown-submenu:hover > a,
  body.incubadora-da-cerveja .dropdown-submenu:focus > a {
    background-color: #cfcbc4 !important;
    color: #ffffff !important; }
  body.incubadora-da-cerveja .select2-container.select2-container-active.form-control,
  body.incubadora-da-cerveja .select2-container-active .select2-choice,
  body.incubadora-da-cerveja .select2-container-active .select2-choices,
  body.incubadora-da-cerveja .select2-dropdown-open.select2-drop-above .select2-choice,
  body.incubadora-da-cerveja .select2-dropdown-open.select2-drop-above .select2-choices,
  body.incubadora-da-cerveja .select2-container-multi.select2-container-active .select2-choices,
  body.incubadora-da-cerveja .form-control.select2-container.select2-dropdown-open,
  body.incubadora-da-cerveja .select2-container
  .select2-choice,
  body.incubadora-da-cerveja .select2-drop-active,
  body.incubadora-da-cerveja .select2-drop.select2-drop-above.select2-drop-active {
    border-color: #ebebeb !important; }
  body.incubadora-da-cerveja .select2-results {
    font-size: 12px; }
    body.incubadora-da-cerveja .select2-results .select2-highlighted {
      background-color: #0a1a25; }
  body.incubadora-da-cerveja .select2-container .ui-select-dropdown {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  body.incubadora-da-cerveja .select2-container .select2-choice
  .select2-container .select2-choice {
    border-radius: 3px !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid transparent !important;
    border-color: #ebebeb !important;
    height: 31px !important; }
    body.incubadora-da-cerveja .select2-container .select2-choice
    .select2-container .select2-choice > .select2-chosen {
      padding: 6px 6px;
      font-size: 12px;
      line-height: 1.52857143; }
  body.incubadora-da-cerveja .btn-group.open .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #303641;
    border-color: #303641; }
  body.incubadora-da-cerveja .btn-group.open .btn-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #fad839;
    border-color: #fad839; }
  body.incubadora-da-cerveja .btn-group.open .btn-danger.dropdown-toggle {
    color: #ffffff;
    background-color: #cc2424;
    border-color: #cc2424; }
  body.incubadora-da-cerveja .btn-group.open .btn-success.dropdown-toggle {
    color: #ffffff;
    background-color: #00a651;
    border-color: #00a651; }
  body.incubadora-da-cerveja .btn-group.open .btn-info.dropdown-toggle {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1; }
  body.incubadora-da-cerveja .alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0px !important;
    margin-bottom: 0px; }
    body.incubadora-da-cerveja .alert span {
      word-wrap: break-word; }
  body.incubadora-da-cerveja .alert-success {
    background-color: #bdedbc;
    border-color: #bdedbc;
    color: #045702; }
  body.incubadora-da-cerveja .alert-info {
    background-color: #c5e8f7;
    border-color: #c5e8f7;
    color: #2c7ea1; }
  body.incubadora-da-cerveja .alert-warning {
    background-color: #ffefa4;
    border-color: #ffefa4;
    color: #574802; }
  body.incubadora-da-cerveja .alert-danger {
    background-color: #ffc9c9;
    border-color: #ffc9c9;
    color: #ac1818; }
  body.incubadora-da-cerveja .modal-dialog.modal-md {
    width: 50% !important; }
  body.incubadora-da-cerveja .modal-dialog .page-header {
    min-height: 65px; }
  body.incubadora-da-cerveja .modal-dialog div.alert {
    margin-right: 10px; }
  @media (min-width: 768px) {
    body.incubadora-da-cerveja .modal-dialog .page-header h1.pull-left {
      margin-top: 15px; } }
  body.incubadora-da-cerveja .modal-content {
    border-radius: 3px !important; }
  body.incubadora-da-cerveja .col-xs-12 {
    padding-right: 5px; }
  body.incubadora-da-cerveja .modal-body #content-wrapper {
    padding-bottom: 0px; }
  body.incubadora-da-cerveja .modal-body .col-xs-12 {
    padding-right: 0px; }
  body.incubadora-da-cerveja .modal-body a.box-remove:hover {
    background-color: #c0c0c0;
    text-decoration: none; }
  body.incubadora-da-cerveja .omega-list-view .omega-in-list-filter-container {
    background-color: #f0f0f1 !important; }
  body.incubadora-da-cerveja .omega-list-view .omega-list-nav-bar-actions .yellow-icon {
    color: #00a651 !important; }
  body.incubadora-da-cerveja .omega-list-view .omega-in-list-filter-control input.form-actions {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right-width: 0px; }
  body.incubadora-da-cerveja .omega-list-view .omega-in-list-filter-control span.input-group-addon {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border: 1px solid #ebebeb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #e0e0e0 !important;
    border-left-width: 0px; }
  body.incubadora-da-cerveja .omega-list-view .omega-list-table {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 0px;
      /*
      tbody > tr:nth-child(odd) > td:nth-child(odd),
      tbody > tr:nth-child(odd) > th:nth-child(odd)
      {
        background-color: #f0f0f0;
      }

      tbody > tr:nth-child(even) > td:nth-child(odd),
      tbody > tr:nth-child(even) > th:nth-child(odd)
      {
        background-color: #dadada;
      }
      */ }
    body.incubadora-da-cerveja .omega-list-view .omega-list-table th {
      color: #303641;
      border-left-width: 0px;
      border-right-width: 0px;
      font-weight: bold;
      font-size: 13px; }
    body.incubadora-da-cerveja .omega-list-view .omega-list-table td {
      padding: 6px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ebebeb;
      border-left-width: 0px;
      border-right-width: 0px; }
    body.incubadora-da-cerveja .omega-list-view .omega-list-table tr:last-child td {
      border-bottom-width: 0px; }
    body.incubadora-da-cerveja .omega-list-view .omega-list-table td p {
      font-size: 12px !important;
      line-height: 12px !important; }
    body.incubadora-da-cerveja .omega-list-view .omega-list-table .omega-list-checkbox-th, body.incubadora-da-cerveja .omega-list-view .omega-list-table omega-list-checkbox-td {
      vertical-align: middle; }
      body.incubadora-da-cerveja .omega-list-view .omega-list-table .omega-list-checkbox-th input, body.incubadora-da-cerveja .omega-list-view .omega-list-table omega-list-checkbox-td input {
        margin-top: 0px !important; }
  body.incubadora-da-cerveja .omega-list-view .omega-list-bottom-info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    font-size: 14px; }
  body.incubadora-da-cerveja .omega-list-view .pagination {
    margin-top: 15px;
    margin-bottom: 15px; }
    body.incubadora-da-cerveja .omega-list-view .pagination li.prev a {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important; }
    body.incubadora-da-cerveja .omega-list-view .pagination li.next a {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important; }
  body.incubadora-da-cerveja .uib-datepicker-popup {
    padding-top: 0px;
    border-radius: 3px !important; }
    body.incubadora-da-cerveja .uib-datepicker-popup .uib-daypicker th {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif; }
      body.incubadora-da-cerveja .uib-datepicker-popup .uib-daypicker th small {
        line-height: 1.6;
        font-size: 75%; }
    body.incubadora-da-cerveja .uib-datepicker-popup .uib-daypicker .btn i.glyphicon {
      line-height: 1.42; }
    body.incubadora-da-cerveja .uib-datepicker-popup .btn-group > .btn {
      border-radius: 3px !important; }
  body.incubadora-da-cerveja .btn-group > .btn:first-child {
    margin-left: 0; }
  body.incubadora-da-cerveja .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important; }
  body.incubadora-da-cerveja .btn-group > .btn:last-child:not(:first-child),
  body.incubadora-da-cerveja .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important; }
  body.incubadora-da-cerveja .input-group .form-control:first-child {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important; }
  body.incubadora-da-cerveja .input-group-btn:last-child > .btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important; }
  body.incubadora-da-cerveja .input-group-btn .btn .glyphicon-calendar {
    line-height: 1.42; }
  body.incubadora-da-cerveja .input-group-addon:last-child {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important; }
  body.incubadora-da-cerveja hr {
    display: none; }
  body.incubadora-da-cerveja hr.hr-normal + hr.hr-normal {
    display: none; }
  body.incubadora-da-cerveja li.notifications.dropdown a, body.incubadora-da-cerveja li.notifications.dropdown a:hover, body.incubadora-da-cerveja li.notifications.dropdown .btn-link, body.incubadora-da-cerveja li.notifications.dropdown .btn-link:hover, body.incubadora-da-cerveja li.notifications.dropdown .btn-link:focus {
    text-decoration: none;
    color: #aaabae !important; }
  body.incubadora-da-cerveja .navbar {
    position: relative !important; }
  body.incubadora-da-cerveja .navbar.banner--clone {
    display: none; }
  body.incubadora-da-cerveja .navbar.section {
    padding-top: 10px !important;
    margin-bottom: 0px; }
  body.incubadora-da-cerveja .nav {
    top: 2% !important; }
  body.incubadora-da-cerveja .separador-menu {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: -1px; }
    body.incubadora-da-cerveja .separador-menu.light {
      background-color: #cbb27c; }
  body.incubadora-da-cerveja .padding-top-10 {
    padding-top: 10px; }
  body.incubadora-da-cerveja .padding-top-20 {
    padding-top: 20px; }
  body.incubadora-da-cerveja .padding-bottom-10 {
    padding-bottom: 10px; }
  body.incubadora-da-cerveja .padding-bottom-20 {
    padding-bottom: 20px; }
  body.incubadora-da-cerveja .padding-bottom-40 {
    padding-bottom: 40px; }
  body.incubadora-da-cerveja .margin-top-10 {
    margin-top: 10px; }
  body.incubadora-da-cerveja .margin-top-20 {
    margin-top: 20px; }
  body.incubadora-da-cerveja .margin-top-40 {
    margin-top: 40px; }
  body.incubadora-da-cerveja .margin-bottom-5 {
    margin-bottom: 5px; }
  body.incubadora-da-cerveja .margin-bottom-10 {
    margin-bottom: 10px; }
  body.incubadora-da-cerveja .margin-bottom-20 {
    margin-bottom: 20px; }
  body.incubadora-da-cerveja .border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.08); }
  body.incubadora-da-cerveja .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.08); }
  body.incubadora-da-cerveja .barril {
    width: 84px;
    height: 141px;
    transform: rotate(90deg); }
  body.incubadora-da-cerveja .botao-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 12px; }
  body.incubadora-da-cerveja .botao-bottom-right {
    text-decoration: underline !important; }
  body.incubadora-da-cerveja .descricao-omega-empresa small {
    margin-bottom: 10px; }
  body.incubadora-da-cerveja .titulo-funcionalidade {
    margin-bottom: 10px !important; }
  body.incubadora-da-cerveja .border-right {
    border-right: 1px solid #dddddd; }
  body.incubadora-da-cerveja .border-left {
    border-left: 1px solid #dddddd; }
  body.incubadora-da-cerveja .no-border-bottom {
    border-bottom-width: 0px !important; }
  body.incubadora-da-cerveja .no-border-right {
    border-right-width: 0px !important; }
  body.incubadora-da-cerveja .botao-right-55 {
    position: absolute;
    right: 55px; }
  body.incubadora-da-cerveja .botao-right-70 {
    position: absolute;
    right: 70px; }
  body.incubadora-da-cerveja .botao-right-80 {
    position: absolute;
    right: 80px; }
  body.incubadora-da-cerveja .botao-right-90 {
    position: absolute;
    right: 90px; }
  body.incubadora-da-cerveja .botao-right-110 {
    position: absolute;
    right: 110px; }
  body.incubadora-da-cerveja .botao-right-30 {
    right: 30px;
    position: absolute; }
  body.incubadora-da-cerveja .table-header {
    font-size: 14px; }
  body.incubadora-da-cerveja .table-content {
    font-size: 14px; }
  body.incubadora-da-cerveja .vertical-middle {
    vertical-align: middle; }
  body.incubadora-da-cerveja .lead {
    margin-top: 10px; }
  body.incubadora-da-cerveja #divCompletaDadosCadastro label {
    margin-top: 8px; }
  body.incubadora-da-cerveja .margin-left-15 {
    margin-left: 15px !important; }
  body.incubadora-da-cerveja .no-margin-top {
    margin-top: 0px !important; }
  body.incubadora-da-cerveja .separador {
    background-color: #272829;
    max-height: 5px; }
  body.incubadora-da-cerveja .separador + .separador {
    display: none; }
  body.incubadora-da-cerveja .separador + .ng-hide + .separador {
    display: none; }
  body.incubadora-da-cerveja .separador-main {
    background-color: #272829;
    max-height: 4px;
    margin-top: 20px; }
  body.incubadora-da-cerveja .separador-main:last-child {
    display: none; }
  body.incubadora-da-cerveja .padding-80-0 {
    padding-top: 80px;
    padding-bottom: 80px; }
  body.incubadora-da-cerveja .padding-40-0 {
    padding-top: 40px;
    padding-bottom: 40px; }
  body.incubadora-da-cerveja .padding-20-0 {
    padding-top: 20px;
    padding-bottom: 20px; }
  body.incubadora-da-cerveja .border-bottom-grey-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important; }
  body.incubadora-da-cerveja .titulo-sessao-interna {
    border-bottom: 1px solid #cbb27c;
    background-color: #1b1d1e; }
    body.incubadora-da-cerveja .titulo-sessao-interna header h2 {
      color: white !important; }
  body.incubadora-da-cerveja footer {
    opacity: 1;
    position: relative;
    padding: 30px 0 30px 0;
    border-top: 3px solid #cbb27c; }
    body.incubadora-da-cerveja footer p {
      margin-bottom: 5px; }
  body.incubadora-da-cerveja .history article header span {
    color: #FFFFFF; }
  body.incubadora-da-cerveja .btn-wrap {
    padding-bottom: 40px;
    border-top: 4px solid #272829; }
  body.incubadora-da-cerveja a.btn-default:hover, body.incubadora-da-cerveja .btn-default:hover {
    color: #000000; }
  body.incubadora-da-cerveja .btn-group-sm > .btn, body.incubadora-da-cerveja .btn-sm {
    border-radius: 0px; }
  body.incubadora-da-cerveja .lista-dados-festa {
    list-style: none;
    padding-left: 0px; }
    body.incubadora-da-cerveja .lista-dados-festa li {
      margin-bottom: 20px; }
      body.incubadora-da-cerveja .lista-dados-festa li label {
        font-size: 17px;
        font-weight: bold;
        color: #cbb27b; }
      body.incubadora-da-cerveja .lista-dados-festa li p {
        font-size: 15px;
        margin-bottom: 5px;
        margin-left: 1px; }
    body.incubadora-da-cerveja .lista-dados-festa h4 {
      font-size: 18px; }
  body.incubadora-da-cerveja .totalizador-tabela:first-child td {
    border-top-width: 2px; }
  body.incubadora-da-cerveja .totalizador-tabela td {
    font-weight: bold; }
  body.incubadora-da-cerveja .barra-botoes button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px; }
  body.incubadora-da-cerveja .barra-botoes button:first-child {
    margin-left: 0px; }
  body.incubadora-da-cerveja .barra-botoes button:last-child {
    margin-right: 0px; }
  body.incubadora-da-cerveja .titulo-pagina {
    padding-top: 20px;
    padding-bottom: 20px; }
    body.incubadora-da-cerveja .titulo-pagina h4 {
      font-size: 18px; }
  body.incubadora-da-cerveja .conteudo-imagem-convite {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px !important;
    padding-left: 0px !important; }
  body.incubadora-da-cerveja .container-imagem-convite h4 {
    text-align: center; }
  body.incubadora-da-cerveja .container-imagem-convite .icon-grid {
    padding: 10px; }
  body.incubadora-da-cerveja .container-imagem-convite img {
    margin-left: auto;
    margin-right: auto !important;
    display: block;
    width: auto; }
  body.incubadora-da-cerveja .container-imagem-convite p {
    text-align: center; }
  body.incubadora-da-cerveja .container-imagem-convite .conteudo-imagem-convite {
    padding-top: 10px;
    padding-bottom: 10px; }
  body.incubadora-da-cerveja .texto-paragrafos-menores p {
    margin-bottom: 10px; }
  body.incubadora-da-cerveja img.garrafa-grid-pedido-simples {
    height: 300px; }

@media (min-width: 768px) {
  .navbar.section .container {
    min-height: 28px; }

  .container > .navbar-header {
    margin-top: 5px;
    float: left;
    z-index: 2;
    position: relative; }

  .container > .navbar-collapse {
    z-index: 1; }

  .nav li a {
    font-size: 12px;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal; }

  .col-sm-12.icon-grid {
    border-right-width: 0px; } }
@media (max-width: 767px) {
  .col-sx-12.icon-grid {
    border-right-width: 0px; }

  .navbar-toggle {
    bottom: -5px !important; }

  .col-xs-12.icon-grid {
    border-right-width: 0px; }

  .col-xs-12.no-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important; }

  .nav {
    top: auto !important; }

  .nav li {
    margin-bottom: 5px; }

  .nav li:last-child {
    margin-bottom: 20px; }

  .nav li a {
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px; }

  .navbar-collapse.collapse.in {
    top: 100px !important; }

  body.incubadora-da-cerveja.x-mobile .page-header > .pull-left {
    float: left !important; }
  body.incubadora-da-cerveja.x-mobile .page-header > .pull-right {
    float: right !important; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog .page-header {
    padding-bottom: 10px !important; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog .page-header > .pull-right {
    margin-top: 0px !important; }
  body.incubadora-da-cerveja.x-mobile .modal-footer {
    padding: 5px; }
  body.incubadora-da-cerveja.x-mobile .modal-footer button {
    margin: 5px; } }
body.incubadora-da-cerveja.x-mobile.main-nav-opened #content {
  margin-left: 253px !important; }
body.incubadora-da-cerveja.x-mobile .navbar-form {
  margin-left: 0px;
  margin-right: 0px; }
body.incubadora-da-cerveja.x-mobile .modal-body {
  padding: 10px; }
body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog.modal-md {
  width: 95% !important; }
body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog {
  width: 95% !important; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog .page-header {
    margin-bottom: 20px !important; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog .col-xs-12 {
    padding-left: 10px; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog .row {
    margin-right: -5px;
    margin-left: -10px; }
  body.incubadora-da-cerveja.x-mobile .modal-window .modal-dialog form .form-group:first-child {
    margin-top: 0px; }
body.incubadora-da-cerveja.x-mobile nav .top-bar-user-info {
  display: none; }
body.incubadora-da-cerveja.x-mobile header .navbar .navbar-brand {
  display: none; }
body.incubadora-da-cerveja.x-mobile header .navbar .toggle-nav {
  margin-left: 0px; }
body.incubadora-da-cerveja.x-mobile .page-header {
  margin-bottom: 20px !important; }
body.incubadora-da-cerveja.x-mobile .row {
  margin-right: -13px;
  margin-left: -18px; }
body.incubadora-da-cerveja.x-mobile #content-wrapper .page-header {
  min-height: 45px;
  padding-top: 10px;
  padding-bottom: 5px; }
body.incubadora-da-cerveja.x-mobile div.form-group > div button {
  margin-top: 5px; }
body.incubadora-da-cerveja.x-mobile div.form-group + hr.hr-normal {
  display: none; }
body.incubadora-da-cerveja.x-mobile div.form-actions .action-buttons-bar {
  margin-left: auto;
  float: right !important;
  padding-right: 0px; }

/*# sourceMappingURL=incubadora-da-cerveja.css.map */
