body.incubadora-da-cerveja
{
  background-color: #1b1d1e;
  color: #FFFFFF !important;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

  .display-none
  {
    display: none;
  }

  .modal-dialog
  {
    .imagem-garrafa
    {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
    }

    .imagem-harmonizacao
    {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
    }

    .botao-adicionar-ao-pedido
    {
      margin-left: auto;
      margin-right: auto;
      display: block;
      color: #000000;
    }

  }

  .pedido-simples-lista-produtos
  {
    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th
    {
      background-color: #000000;
    }

    .table-striped > tbody > tr:nth-of-type(even)
    {
      background-color: #383838;
    }

    .table-striped>tbody>tr:nth-of-type(odd)
    {
      background-color: #1b1e1e;
    }

    .tr-frete-pedido
    {
      font-weight: bold;

      td
      {
        border-top-width: 2px;
        background-color: #000000;
      }
    }

    .tr-valor-total-pedido
    {
      font-weight: bold;

      td
      {
        border-top-width: 2px;
        background-color: #cbb27c;
        color: #000000;
      }
    }

  }

  .remove-icon
  {
    height: 18px;
    width: 18px;
    cursor: pointer;
  }

  .center-text
  {
    text-align: center;
  }

  .modal-dialog.light
  {
    .modal-body, .modal-body p
    {
      color: #000000;
    }
  }

  .clickable
  {
    cursor: pointer;
  }

  .clickable:hover
  {
    cursor: pointer;
    background-color: #38393a;
  }

  .product a
  {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .product a > span
  {
    background-color: #1b1e1e;
    z-index: 100;
  }

  .opcao-cerveja-degustador
  {
    display: block;
    input[type="checkbox"]
    {
      margin-right: 0px;
      top: 2px;
    }
  }

  header h1
  {
    color: #FFFFFF;
  }

  header h2
  {
    font-size: 22px;
    color: #cbb27c;
  }

  h2.destaque
  {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #cbb27c;
  }

  h3.destaque
  {
    color: #cbb27c;
  }

  .has-error .form-control
  {
    border-color: #a94442 !important;
    color: #a94442 !important;
  }

  .fb_iframe_widget iframe
  {
    float: left;
    position: relative;
    left: 0px;

    .mvs.fsm span
    {
      color: #ffffff;
    }

  }

  .modal-footer .btn
  {
    margin-bottom: 0px;
  }

  div.row header
  {
    margin-bottom: 30px;
  }

  .btn-calendar
  {
    padding: 9px 9px 9px 14px;
  }

  div[uib-datepicker-popup-wrap]
  {
    td, th
    {
      padding: 1px;
    }

    .uib-button-bar button:last-child, .uib-button-bar button:last-child:hover
    {
      margin-right: 0px;
    }

    .uib-button-bar button:hover
    {
      margin-right: 5px;
    }

    .btn
    {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      margin-bottom: 0px;
      padding: 6px 12px;
      font-size: 12px;
      line-height: 1.42857143;
      border-radius: 3px !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      background-color: #e0e0e0;
      letter-spacing: 1px;
      text-transform: uppercase;
      box-shadow: none !important;
    }

    a.btn:before, a.btn:after, .btn:before, .btn:after
    {
      background-color: transparent;
    }

    a.btn span:before, a.btn span:after, .btn span:before, .btn span:after
    {
      background-color: transparent;
    }

    .btn.btn-success
    {
      color: #ffffff;
      background-color: #00a651;
      border-color: #00a651;
    }

    .btn.btn-danger
    {
      color: #ffffff;
      background-color: #cc2424;
      border-color: #cc2424;
    }

    .btn.btn-info
    {
      color: #ffffff;
      background-color: #21a9e1;
      border-color: #21a9e1;
    }

    .btn-default.active
    {
      color: #333333;
      outline: 0;
      background-color: #e6e6e6;
      border-color: #adadad;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

  }

  .hidden
  {
    display: none;
  }

  .row
  {
    margin-right: 0px;
    margin-left: 0px;
  }

  label
  {
    font-weight: normal;
    font-size: 13px;
  }

  .control-label
  {
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 9px;
  }

  .alert-dismissable .close
  {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
  }

  .ui-select-highlight
  {
    font-weight: bold;
    background-color: yellow;
  }

  form
  {
    padding-left: 10px;
  }

  select
  {
    position: relative;
    -webkit-appearance: none;
  }

  select.form-control
  {
    padding: 6px 6px;
  }

  .select-wrapper:before
  {
    top: 12px;
    right: 30px;
  }

  .form-control
  {
    font-size: 14px;
    font-weight: 800;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px 6px;
    letter-spacing: 2px;
    text-transform: none !important;
    color: #cbb27c;
    border: 1px solid #cbb27b;
    background: none;
    box-shadow: none;
    border-radius: 0px;
  }

  .form-control::placeholder, .form-control::-webkit-input-placeholder
  {
    color: #d6d6d6;
  }

  .form-control:focus
  {
    background-color: rgb(80, 82, 82);
  }

  textarea.form-control
  {
    padding-top: 5px;
  }

  .form-control[uib-datepicker-popup]
  {
    cursor: pointer;
  }

  #main-nav .navigation > .nav > li.active > a
  {
    background-color: #2b303a;
    color: #FFFFFF !important;

    span
    {
      color: #FFFFFF !important;
    }

    [class^="icon-"]
    {
      color: #FFFFFF !important;
    }

  }

  #wrapper
  {
    min-width: 100%;
    overflow-x: auto;
  }

  #content
  {
    background-color: #FFFFFF;
  }

  #content-wrapper
  {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    padding-top: 20px;

    &.dark
    {
      background-color: #1b1d1e !important;
    }

    .page-header
    {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 15px;
      min-width: 100%;
    }

    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th
    {
      background-color: #000000;
    }

    .table-striped > tbody > tr:nth-of-type(even)
    {
      background-color: #383838;
    }

    .table-striped>tbody>tr:nth-of-type(odd)
    {
      background-color: #1b1e1e;
    }



    .box
    {
      border-radius: 0px;
      background-clip: padding-box;
      box-shadow: none;
      border-width: 0px;
      border-color: #ebebeb !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-bottom: 40px;
      margin-top: 10px;

      .box-header,  .box-header.blue-background
      {
        color: #373e4a;
        background-color: #f0f0f1 !important;
        border-color: #ebebeb;

        font-size: 17px;
        line-height: 30px;

        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        .title
        {
          color: #373e4a;
          font-size: 15px;
        }

        .actions
        {
          margin-top: 2px;
        }

      }

      .box-header.blue-background .actions .btn-link
      {
        color: #373e4a !important;
      }

      .box-header.blue-background .actions .btn-link:hover
      {
        color: #000000 !important;
      }

      .box-content
      {
        border-width: 0px;
      }

    }

    h1 i
    {
      font-size: 20px;
      display: none;
    }

    .page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6
    {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: #373e4a;

    }

  }

  header .navbar .dropdown-menu
  {
    border-radius: 3px !important;
  }

  header .navbar > .nav > li.dark > a
  {
    background-color: #2b303a !important;
    padding-top: 15px !important;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a
  {
    background-color: #cfcbc4 !important;
    color: #ffffff !important;
  }

  .select2-container.select2-container-active.form-control,
  .select2-container-active .select2-choice,
  .select2-container-active .select2-choices,
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices,
  .select2-container-multi.select2-container-active .select2-choices,
  .form-control.select2-container.select2-dropdown-open,
  .select2-container
  .select2-choice,
  .select2-drop-active,
  .select2-drop.select2-drop-above.select2-drop-active
  {
    border-color: #ebebeb !important;
  }

  .select2-results
  {
    font-size: 12px;

    .select2-highlighted
    {
      background-color: #0a1a25;
    }

  }

  .select2-container .ui-select-dropdown
  {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .select2-container .select2-choice
  .select2-container .select2-choice
  {
    border-radius: 3px !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid transparent !important;
    border-color: #ebebeb !important;
    height: 31px !important;

    > .select2-chosen
    {
      padding: 6px 6px;
      font-size: 12px;
      line-height: 1.52857143;
    }

  }

  .btn-group.open .btn-primary.dropdown-toggle
  {
    color: #ffffff;
    background-color: #303641;
    border-color: #303641;
  }

  .btn-group.open .btn-warning.dropdown-toggle
  {
    color: #ffffff;
    background-color: #fad839;
    border-color: #fad839;
  }

  .btn-group.open .btn-danger.dropdown-toggle
  {
    color: #ffffff;
    background-color: #cc2424;
    border-color: #cc2424;
  }

  .btn-group.open .btn-success.dropdown-toggle
  {
    color: #ffffff;
    background-color: #00a651;
    border-color: #00a651;
  }

  .btn-group.open .btn-info.dropdown-toggle
  {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1;
  }

  .alert
  {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0px !important;
    margin-bottom: 0px;

    span
    {
      word-wrap: break-word;
    }

  }

  .alert-success
  {
    background-color: #bdedbc;
    border-color: #bdedbc;
    color: #045702;
  }

  .alert-info
  {
    background-color: #c5e8f7;
    border-color: #c5e8f7;
    color: #2c7ea1;
  }

  .alert-warning
  {
    background-color: #ffefa4;
    border-color: #ffefa4;
    color: #574802;
  }

  .alert-danger
  {
    background-color: #ffc9c9;
    border-color: #ffc9c9;
    color: #ac1818;
  }

  .modal-dialog.modal-md
  {
    width: 50% !important;
  }

  .modal-dialog
  {
    .page-header
    {
      min-height: 65px;
    }

    div.alert
    {
      margin-right: 10px;
    }

    @media (min-width: 768px)
    {
      .page-header h1.pull-left
      {
        margin-top: 15px;
      }
    }


  }

  .modal-content
  {
    border-radius: 3px !important;
  }

  .col-xs-12
  {
    padding-right: 5px;
  }

  .modal-body
  {
    #content-wrapper
    {
      padding-bottom: 0px;
    }

    .col-xs-12
    {
      padding-right: 0px;
    }

    a.box-remove:hover
    {
      background-color: #c0c0c0;
      text-decoration: none;
    }

  }

  .omega-list-view
  {
    .omega-in-list-filter-container
    {
      background-color: #f0f0f1 !important;
    }

    .omega-list-nav-bar-actions
    {
      .yellow-icon
      {
        color: #00a651 !important;
      }

    }

    .omega-in-list-filter-control
    {
      input.form-actions
      {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-right-width: 0px;
      }

      span.input-group-addon
      {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border: 1px solid #ebebeb;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: #e0e0e0 !important;
        border-left-width: 0px;
      }

    }

    .omega-list-table
    {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
      font-size: 12px;
      border-collapse: collapse;
      border-spacing: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      margin-bottom: 0px;

      /*
      tbody > tr:nth-child(odd) > td:nth-child(odd),
      tbody > tr:nth-child(odd) > th:nth-child(odd)
      {
        background-color: #f0f0f0;
      }

      tbody > tr:nth-child(even) > td:nth-child(odd),
      tbody > tr:nth-child(even) > th:nth-child(odd)
      {
        background-color: #dadada;
      }
      */

      th
      {
        color: #303641;
        border-left-width: 0px;
        border-right-width: 0px;
        font-weight: bold;
        font-size: 13px;
      }

      td
      {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ebebeb;
        border-left-width: 0px;
        border-right-width: 0px;
      }

      tr:last-child td
      {
        border-bottom-width: 0px;
      }

      td p
      {
        font-size: 12px !important;
        line-height: 12px !important;
      }

      .omega-list-checkbox-th, omega-list-checkbox-td
      {
        vertical-align: middle;

        input
        {
          margin-top: 0px !important;
        }
      }

    }

    .omega-list-bottom-info
    {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
      font-size: 14px;
    }

    .pagination
    {
      margin-top: 15px;
      margin-bottom: 15px;

      li.prev a
      {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
      }

      li.next a
      {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
      }

    }

  }



  .uib-datepicker-popup
  {
    padding-top: 0px;
    border-radius: 3px !important;

    .uib-daypicker th
    {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

      small
      {
        line-height: 1.6;
        font-size: 75%;
      }

    }

    .uib-daypicker .btn i.glyphicon
    {
      line-height: 1.42;
    }

    .btn-group > .btn
    {
      border-radius: 3px !important;
    }

  }

  .btn-group > .btn:first-child
  {
    margin-left: 0;
  }

  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle)
  {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
  }

  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child)
  {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }

  .input-group .form-control:first-child
  {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .input-group-btn:last-child > .btn
  {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .input-group-btn .btn .glyphicon-calendar
  {
    line-height: 1.42;
  }

  .input-group-addon:last-child
  {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  hr
  {
    display: none;
  }

  hr.hr-normal + hr.hr-normal
  {
    display: none;
  }

  li.notifications.dropdown
  {
    a, a:hover, .btn-link, .btn-link:hover, .btn-link:focus
    {
      text-decoration: none;
      color: #aaabae !important;

    }

  }

  .navbar
  {
    position: relative !important;
  }

  .navbar.banner--clone
  {
    display: none;
  }

  .navbar.section
  {
    padding-top: 10px !important;
    margin-bottom: 0px;
  }

  .nav
  {
    top: 2% !important;
  }

  .separador-menu
  {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: -1px;

    &.light
    {
      background-color: #cbb27c;
    }

  }

  .padding-top-10
   {
     padding-top: 10px;
   }

  .padding-top-20
  {
    padding-top: 20px;
  }

  .padding-bottom-10
  {
    padding-bottom: 10px;
  }

  .padding-bottom-20
  {
    padding-bottom: 20px;
  }

  .padding-bottom-40
  {
    padding-bottom: 40px;
  }

  .margin-top-10
  {
    margin-top: 10px;
  }

  .margin-top-20
  {
    margin-top: 20px;
  }

  .margin-top-40
  {
    margin-top: 40px;
  }

  .margin-bottom-5
  {
    margin-bottom: 5px;
  }

  .margin-bottom-10
  {
    margin-bottom: 10px;
  }

  .margin-bottom-20
  {
    margin-bottom: 20px;
  }

  .border-bottom
  {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.08);
  }

  .border-top
  {
    border-top: 1px solid rgba(255, 255, 255, .08);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.08);
  }

  .barril
  {
    width: 84px;
    height: 141px;
    transform: rotate(90deg);
  }

  .botao-bottom-right {

    position: absolute;
    bottom: 8px;
    right: 12px;

  }

  .botao-bottom-right {

    text-decoration: underline !important;

  }

  .descricao-omega-empresa small {

    margin-bottom: 10px;

  }

  .titulo-funcionalidade {

    margin-bottom: 10px !important;

  }

  .border-right {

    border-right: 1px solid #dddddd;

  }

  .border-left {

    border-left: 1px solid #dddddd;

  }

  .no-border-bottom {

    border-bottom-width: 0px !important;

  }

  .no-border-right {

    border-right-width: 0px !important;

  }

  .botao-right-55 {

    position: absolute;
    right: 55px;

  }

  .botao-right-70 {

    position: absolute;
    right: 70px;

  }

  .botao-right-80 {

    position: absolute;
    right: 80px;

  }

  .botao-right-90 {

    position: absolute;
    right: 90px;

  }

  .botao-right-110 {

    position: absolute;
    right: 110px;

  }

  .botao-right-30 {

    right: 30px;
    position: absolute;

  }

  .table-header {

    font-size: 14px;

  }

  .table-content {

    font-size: 14px;

  }

  .vertical-middle {

    vertical-align: middle;

  }

  .lead {

    margin-top: 10px;

  }

  #divCompletaDadosCadastro label {

    margin-top: 8px;

  }

  .margin-left-15 {

    margin-left: 15px !important;

  }

  .no-margin-top {

    margin-top: 0px !important;

  }

  .separador
  {
    background-color: #272829;
    max-height: 5px;
  }

  .separador + .separador
  {
    display: none;
  }

  .separador + .ng-hide + .separador
  {
    display: none;
  }

  .separador-main
  {
    background-color: #272829;
    max-height: 4px;
    margin-top: 20px;
  }

  .separador-main:last-child
  {
    display: none;    
  }

  .padding-80-0
  {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .padding-40-0
  {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .padding-20-0
  {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .border-bottom-grey-1
  {
    border-bottom: 1px solid rgba(255, 255, 255, .08) !important;
  }

  .titulo-sessao-interna
  {
    border-bottom: 1px solid #cbb27c;
    background-color: #1b1d1e;

    header h2
    {
      color: white !important;
    }

  }

  footer
  {
    opacity: 1;
    position: relative;
    padding: 30px 0 30px 0;
    border-top: 3px solid #cbb27c;

    p
    {
      margin-bottom: 5px;
    }

  }

  .history article header
  {
    span
    {
      color: #FFFFFF;
    }
  }

  .btn-wrap
  {
    padding-bottom: 40px;
    border-top: 4px solid #272829;
  }

  a.btn-default:hover, .btn-default:hover
  {
    color: #000000;
  }

  .btn-group-sm>.btn, .btn-sm
  {
    border-radius: 0px;
  }

  .lista-dados-festa
  {
    list-style: none;
    padding-left: 0px;

    li
    {
      margin-bottom: 20px;

      label
      {
        font-size: 17px;
        font-weight: bold;
        color: #cbb27b;
      }

      p
      {
        font-size: 15px;
        margin-bottom: 5px;
        margin-left: 1px;
      }

    }

    h4
    {
      font-size: 18px;
    }

  }

  .totalizador-tabela
  {
    &:first-child td
    {
      border-top-width: 2px;
    }

    td
    {
      font-weight: bold;
    }

  }

  .barra-botoes
  {
    button
    {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }

    button:first-child
    {
      margin-left: 0px;
    }

    button:last-child
    {
      margin-right: 0px;
    }

  }

  .titulo-pagina
  {
    padding-top: 20px;
    padding-bottom: 20px;

    h4
    {
      font-size: 18px;
    }
  }

  .conteudo-imagem-convite
  {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .container-imagem-convite h4
  {
    text-align: center;
  }

  .container-imagem-convite .icon-grid
  {
    padding: 10px;
  }

  .container-imagem-convite img
  {
    margin-left: auto;
    margin-right: auto !important;
    display: block;
    width: auto;
  }

  .container-imagem-convite p
  {
    text-align: center;
  }

  .container-imagem-convite .conteudo-imagem-convite
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .texto-paragrafos-menores
  {
    p
    {
      margin-bottom: 10px;
    }
  }

  img.garrafa-grid-pedido-simples
  {
    height: 300px;
  }

}

@media (min-width: 768px)
{
  .navbar.section
  {
    .container
    {
      min-height: 28px;
    }
  }

  .container > .navbar-header
  {
    margin-top: 5px;
    float: left;
    z-index: 2;
    position: relative;
  }

  .container>.navbar-collapse
  {
    z-index: 1;
  }

  .nav li a
  {
    font-size: 12px;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
  }

  .col-sm-12.icon-grid
  {
    border-right-width: 0px;
  }

}

@media (max-width: 767px)
{
  .col-sx-12.icon-grid
  {
    border-right-width: 0px;
  }

  .navbar-toggle
  {
    bottom: -5px !important;
  }

  .col-xs-12.icon-grid
  {
    border-right-width: 0px;
  }

  .col-xs-12.no-border-bottom
  {
    border-bottom: 1px solid rgba(255, 255, 255, .08) !important;
  }

  .nav
  {
    top: auto !important;
  }

  .nav li
  {
    margin-bottom: 5px;
  }

  .nav li:last-child
  {
    margin-bottom: 20px;
  }

  .nav li a
  {
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .navbar-collapse.collapse.in
  {
    top: 100px !important;
  }

  body.incubadora-da-cerveja.x-mobile
  {
    .page-header > .pull-left
    {
      float: left !important;
    }

    .page-header > .pull-right
    {
      float: right !important;
    }

    .modal-window .modal-dialog
    {
      .page-header
      {
        padding-bottom: 10px !important;
      }

      .page-header > .pull-right
      {
        margin-top: 0px !important;
      }

    }

    .modal-footer
    {
      padding: 5px;
    }

    .modal-footer button
    {
      margin: 5px;
    }

  }

}

body.incubadora-da-cerveja.x-mobile
{
  &.main-nav-opened #content
  {
    margin-left: 253px !important;
  }

  .navbar-form
  {
    margin-left: 0px;
    margin-right: 0px;
  }

  .modal-body
  {
    padding: 10px;
  }

  .modal-window .modal-dialog.modal-md
  {
    width: 95% !important;
  }

  .modal-window .modal-dialog
  {
    width: 95% !important;

    .page-header
    {
      margin-bottom: 20px !important;
    }

    .col-xs-12
    {
      padding-left: 10px;
    }

    .row
    {
      margin-right: -5px;
      margin-left: -10px;
    }

    form .form-group:first-child
    {
      margin-top: 0px;
    }

  }

  nav .top-bar-user-info
  {
    display: none;
  }

  header .navbar .navbar-brand
  {
    display: none;
  }

  header .navbar .toggle-nav
  {
    margin-left: 0px;
  }

  .page-header
  {
    margin-bottom: 20px !important;
  }

  .row
  {
    margin-right: -13px;
    margin-left: -18px;
  }

  #content-wrapper .page-header
  {
    min-height: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  div.form-group > div button
  {
    margin-top: 5px;
  }

  div.form-group + hr.hr-normal
  {
    display: none;
  }

  div.form-actions .action-buttons-bar
  {
    margin-left: auto;
    float: right !important;
    padding-right: 0px;
  }

}
